* {
  margin: 0;
}

body {
  padding-inline: 1rem;
  background-color: hsl(0, 0%, 14%);
  font-family: 'Roboto', sans-serif;
  color: #ffebb2;
}

h1 {
  margin: 1rem 1rem 2rem 0;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.8);
  list-style-type: none;
  border-radius: 10px;
}

li {
  text-transform: capitalize;
}

button {
  padding: 10px 15px;
  margin-bottom: 1rem;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 20px;
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}

button:hover {
  color: #fff;
  background-color: #d20062;
}
